:root{
    --orange: #f06937;
    --teal: #2d969b;
    --yellow: #f5dc50;
    --pink: #eb1e4b;
}

*{
    box-sizing: border-box;
}
#loading__text{
    margin-top: 30vh;
}

#logo{
    background-image: url(/src/media/GOUP-longlogo.png);
    width: 150px;
    height: 50px;
    background-position: center;
    background-size: cover
}
#navbarButton{
    background-color: var(--teal);
    color:white;
    border-radius: 10px;
}
@media (max-width: 1023px){
    .navbar-brand{
        display: flex;
        justify-content: space-between;
    }
    #logo{
        left:50%;
        transform: translate(-25%,0%);
    }
    .navbarItem{
        cursor: pointer;
        margin-left:10px;
        font-weight: 300;
        font-size: 1.2rem;
        color:black;
        display: block;
    }
    .navbarItem:hover{
        color: var(--pink);
    }
    #navbarButton{
        display: none;
    }
}
