#explore__container {
    padding: 10% 20%;
}

#explore__card {
    border: 1px solid black;
    box-shadow: 5px 10px teal;
}

#explore__title {
    margin-bottom: -8%;
}
@media (max-width:1024px){
    #explore__container {
        padding: 10% 5%;
    }
    #explore__card {
      width:100%;
    }
}