.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page{
    margin-top:10vw;
    display: flex;
    justify-content: center;
    gap:5vw;
    align-items: center;
    flex-shrink: 0;
}
.page--left{
    font-size: 7vw;
    text-align: end;
    text-transform: uppercase;
    color: var(--orange);
}
#text-1{
    color: var(--teal)
}
.page--right{
    display: flex;
    flex-direction: column;
    gap:1vw;
    width:40%;
    flex-wrap: wrap;
}
.homepage--info #title-1{
    font-size: 2vw;
}
.homepage--button{
    background: var(--orange);
    color:  white;
    border-radius: 8px;
    width:160px;
    text-align: center;
    padding:10px;
}
.homepage--button:hover{
    background: var(--teal);
}