#user__profile__card {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    box-shadow: 5px 10px orange;
}

#user__profile__posts {
    margin: 5% 30%;
}
@media (max-width:1024px){
    #user__profile__card {
        width: 85%;
    }
    #user__profile__posts {
        margin: 5% 10%;
    }
}